.notification {
  display: flex;
  width: 60%;
  justify-content: space-between;
  border: solid 1px #e5e5e5;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .notification {
    width: 90%;
  }
}
